@font-face {
  font-family: "AmmanV Serif Bold Regular";
  src: url("/public/AmmanVSerif-Bold-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f6f8 !important; /* soft light corporate grey */
  font-family: "Inter", sans-serif;
  color: #0D131A;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.06);
}
